src/main/mule/hr-papi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd">
    <http:listener-config name="hr-papi-httpListenerConfig">
        <http:listener-connection host="${http.host}" port="${http.port}" />
    </http:listener-config>
    <apikit:config name="hr-papi-config" api="hr-papi.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <configuration-properties doc:name="Configuration properties" doc:id="74232b9b-eafe-4bd2-9d76-f916882dfcff" file="properties/${env}.properties" />
    <http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="7ae4f375-3f27-4608-898e-c72e36121378" />
    <configuration doc:name="Configuration" doc:id="e90466c7-eff7-42d5-9e80-f695ea0f9068" defaultErrorHandler-ref="globalerrorhandlerError_Handler" />
	<!--  <api-gateway:autodiscovery apiId="${api.autodiscovery}" ignoreBasePath="true" doc:name="API Autodiscovery" doc:id="d60e3490-0cb2-4498-9de7-acd74af54e71" flowRef="hr-papi-main" />   -->
	<flow name="hr-papi-main">
        <http:listener config-ref="hr-papi-httpListenerConfig" path="${http.path}/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="hr-papi-config" />
		<error-handler ref="globalerrorhandlerError_Handler" />
    </flow>
    <flow name="hr-papi-console">
        <http:listener config-ref="hr-papi-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="hr-papi-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="delete:\staff\(empId):hr-papi-config">
        <flow-ref doc:name="calling deleteflow" doc:id="002f2b02-5ad8-4486-9db8-99a4d42a5e6c" name="deleteflow" />
    </flow>
    <flow name="patch:\staff\(empId):application\json:hr-papi-config">
        <flow-ref doc:name="calling patchflow" doc:id="a5c89513-835d-449f-8ac3-1d829f7f7224" name="patchflow" />
    </flow>
    <flow name="post:\staff:application\json:hr-papi-config">
        <flow-ref doc:name="calling postflow" doc:id="59905cb7-3758-4736-bf26-55c3d9e77e89" name="postflow" />
    </flow>
</mule>
